* text=auto

# Do not include the following files when creating repo artifacts, e.g. the zip
/.*                             export-ignore
/tests                          export-ignore
/ecs.php                        export-ignore
/phpunit.xml.dist               export-ignore
/psalm.xml                      export-ignore
/CHANGELOG.md                   export-ignore
/README.md                      export-ignore
